@font-face {
    font-family: minhafonte;
    src: url(./fonts/cursive-font.ttf);
}

* {
    h2 {
        color: darkred;
    }
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    text-align: center;
    background-color: darkred;
    border-radius: 10px;
    margin: 0% 0 0 0;
    border: solid darkred 3px;
    padding: 20px
}

.header-title {
    font-family: minhafonte;
    font-size: 50px;
    color: white;
}

h1 {
    color: darkred;
    text-align: center;
}

img {
    border: solid darkred 3px;
    border-radius: 10px;
    width: 50%;
    height: 50%;
}

.main-informations {
    box-sizing: content-box;
    margin: 05% 10% 10% 10%;
    text-align: center;

    ul {
        color: darkred;
        font-weight: bold;
        list-style-position: inside;
        display: inline-flex;
        font-size: larger;
    }

    li {

        padding: 0px 20px 0px 20px;
        color: black;
        font-weight: normal;
        font-size: medium;
    }

    border: solid darkred 3px;
    border-radius: 10px;
}

.description {
    margin: 10px 10px 10px 10px;
}

.ingredients-list {
    box-sizing: content-box;
    margin: 05% 10% 10% 10%;

    ul {
        color: darkred;
        font-weight: bold;
        list-style-position: inside;
        display: inline-block;
        font-size: larger;
    }

    li {
        margin: 10px 0px 0px 0px;
        padding: 0px 20px 0px 20px;
        color: black;
        font-weight: normal;
        font-size: medium;
    }
}

.make-information-list {
    box-sizing: content-box;
    margin: 05% 10% 10% 10%;

    ul {
        color: darkred;
        font-weight: bold;
        list-style-position: inside;
        display: inline-block;
        font-size: larger;
    }

    li {
        margin: 10px 0px 0px 0px;
        padding: 0px 20px 0px 20px;
        color: black;
        font-weight: normal;
        font-size: medium;
    }
}

.description {
    font-size: large;
}